<!DOCTYPE html>
<html lang="en-us" id="extr-page">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" media="screen" href="../../../css/bootstrap.min.css">
</head>
<body>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
	<form class="form-horizontal" onsubmit="return false" id="form">
	<input type="hidden" id="${pk.attrname}" name="${pk.attrname}">
	<fieldset>
	

	
			
#foreach($col in $columns)
<div class="form-group">
	<label class="col-md-2 control-label">${col.comment}</label>
	<div class="col-md-10">
		<input class="form-control" placeholder="${col.comment}" type="text" name="${col.attrname}" id="${col.attrname}" maxlength="50"
			data-bv-notempty="true"
			data-bv-notempty-message="${col.comment}不能为空">
	</div>
</div>

#end	
			

			<div class="form-actions">
				<div class="row" align="center">
					<div class="col-md-12">
						<button class="btn btn-primary" onclick="location.href='${secondModuleName}List.html'">返回</button>
						<button class="btn btn-primary" type="submit" onclick="update()">
							<i class="fa fa-save"></i> 保存
						</button>
					</div>
				</div>
			</div>

		</fieldset>
	</form>
</div>

	<script src="../../../js/constant.js"></script>
	<script type="text/javascript" src="../../../js/libs/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="../../../js/jq.js"></script>
	<script type="text/javascript" src="../../../js/plugin/bootstrapvalidator/bootstrapValidator.min.js"></script>
	<script type="text/javascript" src="../../../js/common.js"></script>
	<script type="text/javascript" src="../../../layui/layui.js"></script>
<script type="text/javascript">
	layui.use('layer', function(){
	    var layer = layui.layer;
	});
	
	initData();
	
	function initData(){
		/**
		$("#id").val(getUrlParam("${pk.attrname}"));
		$("#name").val(decodeURIComponent(getUrlParam("name")));
		$("#permission").val(decodeURIComponent(getUrlParam("permission")));
		*/
		
		$("#id").val(getUrlParam("${pk.attrname}"));
		var id = getUrlParam("${pk.attrname}");
		
		$.ajax({
			type : 'get',
			url : domainName + '/api-business/${secondModuleName}/queryDetail',
			contentType: "application/json; charset=utf-8",  
			data : { "${pk.attrname}": id},
			success : function(data) {
				console.log(data);
#foreach($col in $columns)
$('#${col.attrname}').val(data.${col.attrname});
#end
			}
		});
		
		
	}
	
	function update() {
		$('#form').bootstrapValidator();
		var bootstrapValidator = $("#form").data('bootstrapValidator');
		bootstrapValidator.validate();
	    if(!bootstrapValidator.isValid()){
		   return;
	    }
	    
	    var formdata = $("#form").serializeObject();

		$.ajax({
			type : 'put',
			url : domainName + '/api-business/${secondModuleName}/update',
			contentType: "application/json; charset=utf-8",  
			data : JSON.stringify(formdata),
			success : function(data) {
				layer.msg("成功", {shift: -1, time: 1000}, function(){
                    location.href = "${secondModuleName}List.html";
                });
			}
		});
	}
		
</script>
</body>
</html>