package ${package}.${secondModuleName};


import java.util.List;
import com.cloud.util.page.PageInfo;
import com.cloud.util.page.PageQuery;
import com.github.pagehelper.Page;


import ${package}.${secondModuleName}.${className}Model;



/**
 * <p>
 * ${comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${datetime}
 */
public interface I${className}Service {


	 /**
	   * 新增 ${comment} 信息
	   * @param ${className}BOS
	   * @return int
	   * @throws Exception
	   */
	public long save(${className}BOS  ${secondModuleName}BOS)throws Exception;
	
	

	/**
	   *批量新增
	   * @param List<${className}BOS>
	   * @return int
	   * @throws Exception
	   */
	public int saveList(List<${className}BOS>  list${className}BOS)throws Exception;
	

  	 /**
	   * 查询详情
	   * @param ${className}BOQ
	   * @return ${className}VO
	   * @throws Exception
	   */
	public ${className}VO queryDetail(${className}BOQ ${secondModuleName}BOQ)throws Exception;
  
	/**
	 * 查询列表
	 * @param ${className}BOQ
	 * @return List<${className}VO>
	 * @throws Exception
	 */
	public List<${className}VO> queryList(${className}BOQ ${secondModuleName}BOQ)throws Exception;
	  
	  
	/**
	 * 分页查询列表
	 * @param ${className}BOQP
	 * @return PageQuery<${className}VO>
	 * @throws Exception
	 */
	public PageQuery<${className}VO> queryListByPage(${className}BOQP ${secondModuleName}BOQP,PageInfo page)throws Exception;
	  
	  
	/**
	 * 更新
	 * @param ${className}BOU
	 * @return int
	 * @throws Exception
	 */
	public int update(${className}BOU ${secondModuleName}BOU)throws Exception;
	
	
	/**
	 * 批量更新
	 * @param List<${className}BOU>
	 * @return int
	 * @throws Exception
	 */
	public int updateList(List<${className}BOU> list${className}BOU)throws Exception;
	  
	  
	    
	 /**
	  * 物理删除 
	  * @param ${className}BOD
	  * @return int
	  * @throws Exception
	  */
	public int delete(${className}BOD ${secondModuleName}BOD)throws Exception;
	
	/**
	  * 根据入参条件查询 总数
	  * @param ${className}BOQ
	  * @return Long
	  * @throws Exception
	  */
	public Long queryCount(${className}BOQ ${secondModuleName}BOQ)throws Exception;
	
	
	  

}
