<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="com/evergrande/core/logback/logback-spring-base.xml"/>
    <jmxConfigurator/>

    <root>
        <level value="INFO" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ASYNC_FILE" />
        <appender-ref ref="FILE_ERROR" />
        <appender-ref ref="FILE_WARN" />
    </root>
</configuration>